---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my works on <a href="{{site.author.googlescholar}}">my Google Scholar</a>.</div>
{% endif %}

{% include base_path %}

<style>
  .pub-list {
    list-style: none;
    counter-reset: pub-counter;
    padding: 0;
  }
  .pub-list li {
    counter-increment: pub-counter;
    display: flex;
    gap: 0.6em;
    margin-bottom: 0.8em;
    line-height: 1.5;
  }
  .pub-list li::before {
    content: counter(pub-counter) ".";
    min-width: 2em;
    text-align: right;
    flex-shrink: 0;
    color: inherit;
  }
  .pub-list a {
    color: inherit;
    text-decoration: none;
  }
  .pub-list a:hover {
    text-decoration: underline;
  }
</style>

{% assign all_pubs = site.publications | sort: "date" | reverse %}

<ol class="pub-list">
  {% for post in all_pubs %}
    <li>
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" target="_blank">{{ post.citation }}</a>
      {% else %}
        {{ post.citation }}
      {% endif %}
    </li>
  {% endfor %}
</ol>
